/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
@tailwind utilities;


@layer components {
  .buttonCurrencyClassName {
    @apply border border-blue-500 text-blue-700 rounded-md px-4 py-2 mx-2 transition duration-500 ease-in-out select-none hover:text-white hover:bg-blue-700 focus:outline-none focus:shadow-md focus-within:bg-blue-200;
  }
  .pushedButtonCurrencyClassName {
    @apply text-white bg-blue-700 shadow-md rounded-md px-4 py-2 mx-2;
  }
  .sortButton {
    @apply border border-gray-700 bg-white block text-gray-700 rounded-md px-4 py-2 m-2 transition duration-500 ease-in-out select-none focus:outline-none focus:shadow-md focus-within:bg-blue-200
  }
  .sortHover {
    @apply text-white bg-blue-400
  }
}

/* purgecss end ignore */

